
ctype html>
<html>
	<head>
		<title>login</title>

		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1"

		<!--Bootstrap-->
		<link href="css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<div>
			<h1>instagram clone</h1>
			<h3>login</h3>
			<form method="post">
				{% csrf_token %}

				<div>
                <label for="username">Username: </label>
                <input id="username" type="text" name="username" value="">
            </div>


            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value="">
            </div>
                <input type="submit" value="Login">

			</form>

		</div><br><br>

		<!--Javascript files-->
		<!--Jquery library-->
		<script src="js/jquery-3.2.1.js"></script>
		<!--Bootstrap js Library-->
		<script src="js/bootstrap.js"></script>
	<div><h3>Already a user?</h3><a href="login/">Login</a> </div>
	</body>
</html>
