
<!DOCtype html>
<html>
	<head>
		<title>Sign Up</title>

		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">

		    <!--Bootstrap-->
		<link href= "css/bootstrap.css" rel="stylesheet">
	</head>
        <body>

         <td colspan=2><center><font size=4><b>
		<div>
			<h1>INSTAGRAM CLONE</h1>
			<h3>Sign Up</h3>
			<h4>today date and time:{{ today }}</h4>
			<form method="post">
				{% csrf_token %}

				<div>
                <label for="username">Username: </label>
                <input id="username" type="text" name="username" value={{ username }}>
            </div>

            <div>
                <label for="name">Name: </label>
                <input id="name" type="text" name="name" value={{ name }}>
            </div>

            <div>
                <label for="email">Email: </label>
                <input id="email" type="text" name="email" value={{ email }}>
            </div>

            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value={{ password }}>
            </div>
                <input type="submit" value="Sign Up"  style="height: 100px; width: 100px">

			</form>

		</div><br><br>

		<!--Javascript files-->
		<!--Jquery library-->
		<!--Bootstrap js Library-->
		<script src="js/bootstrap.js"></script>
	<div><h3>Already a user?</h3><a href="login/">Login</a> </div>
	 </b></font></center></td>
	 </div>
	</body>
</html>